body {
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.5s;
}

.dark-mode {
  background-color: #333;
  color: #f2f2f2;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

input, textarea {
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 500%;
}

label {
  font-size: 150%;
}

input, textarea, button {
  font-size: 200%;
}

 label, button, h1, input::placeholder, textarea::placeholder {
  font-family: 'Honk', system-ui;/* set different font for placeholders */
}